body{
    background-color:black;
    font-family: aaaaaaa, Lucida Console, Monaco, monospace;

}

.navContainer{
/* position: fixed; */
height: 40px;
border-width:0.2px;
background-color:rgb(19, 18, 18);
display:flex;
}
.iconContainer{
color:black;

}
.logo{
height:34px;
/* color:transparent black; */
color:transparent;
cursor:pointer;
}

.arrow{
    height:100px;
    display:flex;
    justify-self: left;
    align-items: left;
    /* padding-right:300px; */
}

.themeContainer{
font-size:11px;
text-align:left;
color:rgb(233, 233, 233);
display:flex;
padding-left:90px;
padding-top:13px;
/* padding-bottom:50px; */
cursor:pointer;
background-color:transparent rgb(75, 75, 75);
}


.headContainer{
display:flex;
/* justify-content:center; */
height: 26vh;
justify-content:space-between;
/* margin:1em; */
margin-top: -17px;
border-width:0.2px;
background-color: rgb(19, 18, 18);

    
}

.mnlogo{
    height: 100px;
    align-self:center;
    justify-self:center;
    /* padding-top: 60px; */

    
    /* padding-right:200px; */
    /* display:flex;
    justify-content:center; */
}

.disText{
    color:grey;
    margin-left:800px;
}

.dispatchContainer{
position:relative;
right:0;
margin-top:50px;

}

.soc{
display:block;
align-items:right;
height: 4.4vh;
padding-left:80px;
cursor:pointer;
}


.mainContainer{
border:solid rgb(165, 165, 165);
border-left: 0;
border-right: 0;
height: 50vh;
width:110%;
margin:1em;
border-width:0.2px;
margin-top:-17px;

    
}

.spectra{
    align-self:center;
    justify-self:center;
    height:100%;
    width:100%;
}

.moduleContainer{
border:solid rgb(165, 165, 165);
height: 60vh;
width: 120%;
margin:1em;
margin-top:-16px;
border-width:0.2px;
display:flex;
justify-content:space-evenly;

    
}

.gridded{
    /* display:flex; */
    width:50%;
}

/* .rowOne{
    border: white;
}

.rowTwo{
    border: grey;
  
} */
/* .gridOne{
    border:solid grey;
    display:flex;
    height:30vh;
    width:20vh;
    justify-content:space-evenly;
    border-top:0;
    border-width:0.2px;
}
.gridTwo{
    border:solid grey;
    display:flex;
    height:30vh;
    width:20vh;
    justify-content:space-evenly;
    border-top:0;
    border-width:0.2px;
} */

.footContainer{
border:solid rgb(165, 165, 165); 
height: 22vh;
margin:1em;
margin-top:-17px;
border-width:0.2px;
background-color:#101014;
    
}

.cube{
display:flex;
height:18vh;
/* padding-top:16px; */
margin-left:20px;
margin-top:-110px;
}

.foothand{
   display:flex;
   align-self:right;
   justify-content:right;
   height:100px;
   margin-bottom:600px;
   margin-left:1400px;
   margin-top:-120px;
   padding-bottom:50px;
}

.contactContainer{


}
.contact{
    display:flex;
    margin-top: 50px;
    color:rgb(129, 129, 129);
    margin-left:200px;
    font-size:9px;
}
.contact1{
    display:flex;
    margin-top: 10px;
    color:rgb(129, 129, 129);
    margin-left:200px;
    font-size:9px;
}
.contact2{
    display:flex;
    margin-top: 10px;
    color:rgb(129, 129, 129);
    margin-left:200px;
    font-size:9px;
}
.contact3{
    display:flex;
    margin-top: 10px;
    color:rgb(129, 129, 129);
    margin-left:200px;
    font-size:9px;
}