body{
    background-color:black;
    font-family: aaaaaaa, Lucida Console, Monaco, monospace;

}

.navContainer{
/* position: fixed; */
height: 40px;
border-width:0.2px;
background-color:rgb(19, 18, 18);
display:flex;
}

.logo{
height:20px;
color:black;

}

.arrow{
    height:100px;
    display:flex;
    justify-self: left;
    align-items: left;
    /* padding-right:300px; */
}

.themeContainer{
font-size:11px;
text-align:left;
color:rgb(233, 233, 233);
display:flex;
padding-left:90px;
padding-top:13px;
/* padding-bottom:50px; */
}


.headContainer{
display:flex;
/* justify-content:center; */
height: 26vh;
justify-content:space-between;
/* margin:1em; */
border-width:0.2px;
background-color: rgb(19, 18, 18);

    
}

.mnlogo{
    height: 100px;
    align-self:center;
    justify-self:center;
    /* padding-top: 60px; */

    
    /* padding-right:200px; */
    /* display:flex;
    justify-content:center; */
}

.dispatchContainer{
position:relative;
right:0;

}

.soc{
display:block;
align-items:right;
height: 6.2vh;
padding-left:80px;

}


.mainContainer{
border:solid rgb(165, 165, 165);
height: 50vh;
margin:1em;
border-width:0.2px;
margin-top:-17px;

    
}

.spectra{
    align-self:center;
    justify-self:center;
    height:100%;
    width:100%;
}

.moduleContainer{
border:solid rgb(165, 165, 165);
height: 22vh;
margin:1em;
border-width:0.2px;
display:flex;
justify-content:space-evenly;

    
}

.rowOne{
    border:solid grey;
    border-width: .2px;
    height:22vh;
}

.rowTwo{
    border:solid grey;
    border-width: .2px;
    height:22vh;
}

.grid{
    border:solid grey;
    display:flex;
    justify-content:space-evenly;
}

.footContainer{
border:solid rgb(165, 165, 165);
background-color: rgb(71, 71, 71) (666, 666, 666);  
height: 22vh;
margin:1em;
border-width:0.2px;

    
}

.cube{
height:18vh;
padding-top:16px;

}

.foothand{
   display:flex;
   align-self:right;
   justify-content:right;
   height:100px;
   /* margin-bottom:100px; */
}